<div class="divider-wrap w-full h-10 flex items-center justify-center cursor-pointer relative z-[3] -my-5 pointer-events-auto">
  <div class="divider"></div>
</div>

<script>
import { initDividerParticles } from "../scripts/divider-particles";
initDividerParticles();
</script>
